In [2]:
import pandas as pd
from typing import Union # type: ignore
df = pd.read_csv('./data.csv') # type: ignore

df

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [4]:
mydataset: dict[str, list[str] | list[int]] = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}
print(pd.DataFrame(mydataset))
print(pd.__version__)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2
2.2.2

In [5]:
a = [1, 7, 2]
print(pd.Series(a))

0    1
1    7
2    2
dtype: int64

In [6]:
print(pd.Series(a, index=["x", "y", "z"]))

x    1
y    7
z    2
dtype: int64

In [8]:
series = pd.Series(a, index=["x", "y", "z"])
series['x']

1